<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>El amor no se compra, se adopta</h1>
                    <p class="opacity-75">Abre tu corazón y tu hogar a un perro que necesita amor, te lo devolverá multiplicado
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="/signup">Registrate</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Hay un perro esperando llenar tu hogar de amor y alegría</h1>
                    <p>Adopta un amigo fiel y cambia tu vida para siempre</p>
                    <p><a class="btn btn-lg btn-primary" href="/signup">Registrate</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Adopta y descubre la felicidad en la cola que siempre se mueve</h1>
                    <p>Cuando adoptas un perro, rescatas una vida y encuentras un nuevo mejor amigo</p>
                    <p><a class="btn btn-lg btn-primary" href="/signin">Inicia sesion</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">AYUDANOS <span class="text-body-secondary">¿Que somos?</span></h2>
      <p class="lead">somos una compañia que su unica motivacion es juntar familias con animales que nesesitan de amor.</p>
    </div>
    <div class="col-md-5">
      <img src="/img/logo.jpeg" class="featurette-image img-fluid mx-auto" alt="Featurette image 1">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">¿Quien soy?</h2>
      <p class="lead">Mi nombre es Luis Oscar Aguilar Cota, soy desarrollador de software de la Paz Baja California Sur, mis pasatiempos son jugar futbol como tambie soy super aficionado a verlo, en especial a mi equipo favorito mis poderosisimas aguilas del america o al real madrid, me encanta las palomitas sin dudas las mejores son las de cinepolis, me encanta jugar videojuegos, mi juego favorito sin dudas es persona 5 que le he dedicado mas de 100 horas, me encantas los gatos, ahora mismo tengo unos 5 gatos.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/img/oscar.jpg" class="featurette-image img-fluid mx-auto" alt="Featurette image 2">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">¿Quien soy?</h2>
      <p class="lead">Mi nombre es Jose Eduardo Mendez Merino, soy desarrollador de software de la Paz Baja California Sur, soy amante del cafe, me gusta salir a ver el atardecer o salir sin rumbo, me encanta ayudar a los animales.</p>
    </div>
    <div class="col-md-5">
      <img src="/img/lalo.jpeg" class="featurette-image img-fluid mx-auto" alt="Featurette image 3">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
{{!-- aqui empiza la presentacion --}}
{{!-- <div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">AYUDANOS. <span class="text-body-secondary">¿Que somos?</span></h2>
      <p class="lead">somos una empresa que busca ayudar aconectar a los animales con tigo, de la manera de que tu puedas adoptarlo y ir por el</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">
</div> --}}

{{!-- <main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">AYUDANOS</h1>
            <h3 class="mb-5">
                <em>Sube los animales que quieras poner en adopcion</em>
            </h3>
            <a href="/signin">Vamos a empezar!</a>
            <br>
            <br>
            <br>
            <h3 class="mb-5">
                <em>Mejor solo quiero adoptar a un perro o gato</em>

            </h3>
            <a href="/signinAdoptante">Vamos a empezar!</a>
        </div>
        <div class="overlay"></div>
    </header>
</main> 
 --}}

<style>
 .featurette-divider {
    margin: 5rem 0; /* Espacio vertical entre featurettes */
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
    margin-bottom: 20px;
  }

  .featurette-heading span {
    color: #6c757d; /* Color gris para el texto secundario */
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .featurette-image {
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* Sombra suave para las imágenes */
  }

  /* Estilos para dispositivos grandes */
  @media (min-width: 992px) {
    .featurette-heading {
      font-size: 3rem; /* Tamaño de fuente más grande para pantallas grandes */
    }
  }

  .carousel-item {
    height: 50rem;  /* Ajusta esta altura según tus necesidades */
    background-size: cover;
    color: white;
    position: relative;
  }

  .carousel-item:first-child {
    background: url('/img/perro1.jpg') no-repeat center center;
  }

  .carousel-item:nth-child(2) {
    background: url('/img/perro2.jpg') no-repeat center center;
  }

  .carousel-item:nth-child(3) {
    background: url('/img/perro3.jpg') no-repeat center center;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .carousel .container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .carousel-control-prev,
  .carousel-control-next {
    align-items: center;
    justify-content: center;
    width: 5rem;
  }

 
</style>