<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ayudanos</a>
    {{#if user}}
    
    <div class="d-flex align-items-center">
      {{#if (eq user.tipo 'Adoptante')}} 
      <a class="nav-link me-3" href="/animales/todos">Home</a>
      <a class="nav-link me-3" href="/reportes/add">Poner un reporte</a>
      <a class="nav-link me-3" href="/reportes/misReportes">Ver mis reportes</a>

      {{/if}}

      {{#if (eq user.tipo 'surcusal')}} 
      <a class="nav-link me-3" href="/animales/mios">Home</a>
      <a class="nav-link me-3" href="/reportes/misReportesSurcusal">Reportes</a>
      <a class="nav-link me-3" href="/reportes/verAdopciones">Adopciones</a>
      <a class="nav-link me-3" href="/animales/add">Poner en adopcion</a>
      {{/if}}

      <a class="nav-link" href="/logout">Cerrar sesión</a>
    </div>
    {{else}}
   
    <div class="d-flex align-items-center">
      <a class="nav-link me-3" href="/signin">Iniciar sesión</a>
      <a class="nav-link" href="/signup">Registrate</a>
    </div>
    {{/if}}
  </div>
</nav>
